<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<title>Réagir</title>
</head>
<body>

<header th:insert="fragments/page_header::pageHeader"></header>

<main>
	<div class="container cart">
	
		<div>　<!-- 宛先が一つ以上ある時のif文 -->
			<h2 th:if="${destinations != null && destinations.size() > 0}">宛先を選択し、決済を完了します。</h2>
			<p class="info" th:if="${destinations != null && destinations.size() > 0}">宛先の新規登録、削除も可能です。</p>
			
			 　<!-- 宛先が登録されていないときのメッセージ -->
			<p class="info"	th:if="${destinations == null || destinations.size() == 0}">宛先情報がありません。新規登録してください。</p>	
		</div>	
			
			<!--  ログインユーザーの宛先を表示させる -->
		<table class="destination" th:if="${destinations != null && destinations.size() > 0}" >
		
			<tr bgcolor="lightgray">
				<th>選択</th><th>宛先氏名</th><th>住所</th><th>電話番号</th>
			</tr>
			
			<!-- eachで宛先が複数ある時のループ処理 -->
			<tr th:each="destination, st: ${destinations}" >
			
				<!-- radioボタンの値にmst_destinationテーブルのidを設定 -->
				<td><input type="radio" name="id" th:checked="${st.index==0}"	th:value="${destination.id}" class="radio" /></td>
				
				<td><!-- spanでグループ化　テーブルから得た苗字と名前の形を整える -->
					<span th:text="${destination.familyName}"></span><span>　</span><span th:text="${destination.firstName}"></span>
				</td>
				
				<!-- mst_destinationテーブルの住所・電話番号を表示 -->
				<td th:text="${destination.address}"/>
				<td th:text="${destination.telNumber}"/>
			</tr>
		</table>
		
		<div class="buttonArea">
		<table class="settlementbutton">
		<tr>
			<!-- 購入情報を購入履歴テーブルに登録 購入履歴画面へ遷移 -->
			<td><button th:if="${destinations != null && destinations.size() > 0}" id="settlementButton">決済</button></td>
			
			<!-- 宛先登録画面へ遷移 -->
			<td><form name="destinationForm" action="/react/destination/">
			<button type="submit">新規宛先</button>
			</form></td>
			
			<!-- チェックされている宛先の論理削除 -->	
			<td><button id="deleteButton" th:if="${destinations != null && destinations.size() > 0}">削除</button></td>
		</tr>
		</table>
		</div>
	</div>

</main>
<script>
$(() => {
	$('#deleteButton').on('click', () => {
		let checked = $('.radio:checked');
		let destinationId = $(checked).val();
		deleteDestination(destinationId, checked);
	});
	
	$('#settlementButton').on('click', () => {
		let checked = $('.radio:checked');
		let destinationId = $(checked).val();
		settlement(destinationId);
	});
});

<!--　宛先論理削除機能　-->
function deleteDestination(destinationId, checked) {
	$.ajax({
		type: 'POST',
		url: '/react/destination/delete',
		data: JSON.stringify({'destinationId': destinationId}),
		datatype: 'json',
		contentType: 'application/json',
	})
	.then((result) => {
		$(checked).parent().parent().remove();
		let radioList = $('.radio');
		if (radioList.length == 0) {
			location.replace('/react/settlement/');
		}
		radioList[0].checked = true;
	}, () => {
		alert('Error: ajax connection failed.');
	});
}
</script>
</body>
</html>